## Install Required Packages

In [6]:
!pip install mysql-connector-python pandas sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\yuvim\anaconda3\lib\site-packages (9.4.0)
Requirement already satisfied: pandas in c:\users\yuvim\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\yuvim\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: numpy>=1.26.0 in c:\users\yuvim\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yuvim\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yuvim\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yuvim\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yuvim\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yuvim\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\yuvim\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## CONNECT TO THE MYSQL DATABASE

In [7]:
import mysql.connector
import pandas as pd

#connect to mysql
conn=mysql.connector.connect(
    host="18.136.157.135",
    port=3306,
    user="dm_team1",
    password="DM!$Team&279@20!",
    database="project_banking"
)

#check connected
print("connected successful!") if conn.is_connected() else print("connection failed")

connected successful!

## LOAD DATA INTO PANDAS

In [9]:
cust_account = pd.read_sql("SELECT * FROM Cust_Account LIMIT 5;",conn)
cust_enquiry = pd.read_sql("SELECT * FROM Cust_Enquiry LIMIT 5;",conn)
cust_demo = pd.read_sql("SELECT * FROM Cust_Demographics LIMIT 5;",conn)

cust_account.head()

C:\Users\yuvim\AppData\Local\Temp\ipykernel_16688\2620090654.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cust_account = pd.read_sql("SELECT * FROM Cust_Account LIMIT 5;",conn)
C:\Users\yuvim\AppData\Local\Temp\ipykernel_16688\2620090654.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cust_enquiry = pd.read_sql("SELECT * FROM Cust_Enquiry LIMIT 5;",conn)
C:\Users\yuvim\AppData\Local\Temp\ipykernel_16688\2620090654.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cust_demo = pd.read_sql("SELECT * FROM Cust_Demographics LIMIT 5;",conn)

,dt_opened,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,...,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount
0,10-Nov-15,12265,20-Oct-15,6,1,09-Jun-13,30-Jun-14,05-Jul-14,30-Sep-15,20900,...,,"""""""STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXS...",,01-Sep-15,01-Jul-14,,,,,
1,10-Nov-15,12265,20-Oct-15,10,1,25-May-12,06-Sep-15,,03-Oct-15,16201,...,,"""""""0000000000000000000000000000000000000000000...","""""""000000000000000000000000000XXX0000000000000...",01-Oct-15,01-Nov-12,14000,1400,,3,5603
2,10-Nov-15,12265,20-Oct-15,10,1,22-Mar-12,31-Aug-15,,30-Sep-15,41028,...,,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Sep-15,01-Oct-12,,,,,
3,20-Jul-15,15606,09-Jul-15,10,1,13-Jan-06,,26-Jul-07,31-Jan-09,93473,...,,"""""""1200900600600600300000000000000000000000000...",,01-Jul-07,01-Feb-06,,,,,
4,20-Jul-15,15606,09-Jul-15,6,1,18-Jan-15,05-May-15,,31-May-15,20250,...,,"""""""000000000000000""""""",,01-May-15,01-Jan-15,,,,,

## EXPLORE THE DATA

In [10]:
cust_demo.info()
cust_demo['Bad_label'].value_counts()
cust_account.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 83 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dt_opened    5 non-null      object
 1   customer_no  5 non-null      object
 2   entry_time   5 non-null      object
 3   feature_1    5 non-null      object
 4   feature_2    5 non-null      object
 5   feature_3    5 non-null      object
 6   feature_4    5 non-null      object
 7   feature_5    5 non-null      object
 8   feature_6    5 non-null      object
 9   feature_7    5 non-null      object
 10  feature_8    5 non-null      object
 11  feature_9    5 non-null      object
 12  feature_10   5 non-null      object
 13  feature_11   5 non-null      object
 14  feature_12   5 non-null      object
 15  feature_13   5 non-null      object
 16  feature_14   5 non-null      object
 17  feature_15   5 non-null      object
 18  feature_16   5 non-null      object
 19  feature_17   5 non-null      object
 20  feature_18   5 non-null      object
 21  feature_19   5 non-null      object
 22  feature_20   5 non-null      object
 23  feature_21   5 non-null      object
 24  feature_22   5 non-null      object
 25  feature_23   5 non-null      object
 26  feature_24   5 non-null      object
 27  feature_25   5 non-null      object
 28  feature_26   5 non-null      object
 29  feature_27   5 non-null      object
 30  feature_28   5 non-null      object
 31  feature_29   5 non-null      object
 32  feature_30   5 non-null      object
 33  feature_31   5 non-null      object
 34  feature_32   5 non-null      object
 35  feature_33   5 non-null      object
 36  feature_34   5 non-null      object
 37  feature_35   5 non-null      object
 38  feature_36   5 non-null      object
 39  feature_37   5 non-null      object
 40  feature_38   5 non-null      object
 41  feature_39   5 non-null      object
 42  feature_40   5 non-null      object
 43  feature_41   5 non-null      object
 44  feature_42   5 non-null      object
 45  feature_43   5 non-null      object
 46  feature_44   5 non-null      object
 47  feature_45   5 non-null      object
 48  feature_46   5 non-null      object
 49  feature_47   5 non-null      object
 50  feature_48   5 non-null      object
 51  feature_49   5 non-null      object
 52  feature_50   5 non-null      object
 53  feature_51   5 non-null      object
 54  feature_52   5 non-null      object
 55  feature_53   5 non-null      object
 56  feature_54   5 non-null      object
 57  feature_55   5 non-null      object
 58  feature_56   5 non-null      object
 59  feature_57   5 non-null      object
 60  feature_58   5 non-null      object
 61  feature_59   5 non-null      object
 62  feature_60   5 non-null      object
 63  feature_61   5 non-null      object
 64  feature_62   5 non-null      object
 65  feature_63   5 non-null      object
 66  feature_64   5 non-null      object
 67  feature_65   5 non-null      object
 68  feature_66   5 non-null      object
 69  feature_67   5 non-null      object
 70  feature_68   5 non-null      object
 71  feature_69   5 non-null      object
 72  feature_70   5 non-null      object
 73  feature_71   5 non-null      object
 74  feature_72   5 non-null      object
 75  feature_73   5 non-null      object
 76  feature_74   5 non-null      object
 77  feature_75   5 non-null      object
 78  feature_76   5 non-null      object
 79  feature_77   5 non-null      object
 80  feature_78   5 non-null      object
 81  feature_79   5 non-null      object
 82  Bad_label    5 non-null      object
dtypes: object(83)
memory usage: 3.4+ KB

,dt_opened,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,...,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount
count,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
unique,2,2,2,2,1,5,5,3,4,5,...,1,4,3,4,5,2,2,1,2,2
top,10-Nov-15,12265,20-Oct-15,10,1,09-Jun-13,30-Jun-14,,30-Sep-15,20900,...,,"""""""0000000000000000000000000000000000000000000...",,01-Sep-15,01-Jul-14,,,,,
freq,3,3,3,3,5,1,1,3,2,1,...,5,2,3,2,1,4,4,5,4,4

## DATA PREPARATION

In [13]:
merged_df = cust_demo.merge(cust_account,on="customer_no", how="left") \
                                                             .merge(cust_enquiry,
on="customer_no", how="left")

In [17]:
merged_df.dtypes #identify the problematic columns

dt_opened_x    object
customer_no    object
entry_time     object
feature_1      object
feature_2      object
                ...
dt_opened      object
upload_dt_y    object
enquiry_dt     object
enq_purpose    object
enq_amt        object
Length: 108, dtype: object

In [18]:
import pandas as pd
from datetime import datetime
                                                                        #convertb date columns 
date_columns= ['opened_dt','last_paymt_dt','closed_dt','enquiry_dt']

for col in date_columns:
    if col in merged_df.columns:
        merged_df[col] = pd.to_datetime(merged_df[col],errors='coerce')
        merged_df[col]=(merged_df[col] - merged_df[col].min()).dt.days

C:\Users\yuvim\AppData\Local\Temp\ipykernel_16688\3539908668.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_df[col] = pd.to_datetime(merged_df[col],errors='coerce')

In [20]:
from sklearn.preprocessing import LabelEncoder         #encode categorical columns

le = LabelEncoder()
for col in merged_df.columns:
    if merged_df[col].dtype == 'object':
        merged_df[col] = le.fit_transform(merged_df[col])

In [21]:
merged_df=merged_df.fillna(0)     #handle missing values

## BUILD AND EVALUATE MODEL

In [24]:
y.value_counts()     #check your target variable

Bad_label
0    9
Name: count, dtype: int64

In [25]:
df_0=merged_df[merged_df['Bad_label'] == 0]                               #balance both classes
df_1=merged_df[merged_df['Bad_label'] == 1]

min_len = min(len(df_0), len(df_1))                                       #ensure equal class counts
merged_balanced = pd.concat([df_0.sample(min_len),df_1.sample(min_len)])

x = merged_balanced.drop('Bad_label', axis=1)                             
y = merged_balanced['Bad_label']

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

model = RandomForestClassifier(random_state=42)
model.fit(x_train, y_train)

if len(model.classes_) > 1:
    preds = model.predict_proba(x_test)[:, 1]

else:
    preds = model.predict(x_test)

gini = 2 * roc_auc_score(y_test, preds) - 1

print("Gini Score:", gini)

Gini Score: nan

C:\Users\yuvim\anaconda3\Lib\site-packages\sklearn\metrics\_ranking.py:379: UndefinedMetricWarning: Only one class is present in y_true. ROC AUC score is not defined in that case.
  warnings.warn(